@media (max-width: 720px) {
  .hero-center {
    text-align: center;
  }
  .custom-category {
    width: 100%;
  }
  .category-box {
    text-align: center;
    width: 100%;
  }
  .accordion {
    background-color: #303030;
    width: 100%;
  }
}

@media (max-width: 990px) {
  :root {
    font-size: 12px;
  }
  .hero-center {
    text-align: center;
  }
}
